terraform-diplom/.terraform
terraform-diplom/.terraform.lock.hcl
terraform-diplom/terraform.tfstate
terraform-diplom/terraform.tfstate.backup
.terraform.tfstate.lock.info
terraform-diplom/variables.tf
